#targetLayer{
float:center;
/*width:300px;
height:300px;*/
}

.myimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:300px;
}

.mybutton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #22313f;
}

#targetLayersmall{
    margin-top:30px;
    width:300px;
    height:300px;
    text-align:center;
    line-height:150px;
    font-weight: bold;
    color: #C0C0C0;
    background-color: #F0E8E0;
    overflow:auto;
}

.btn-file{
    position: relative;
    overflow: hidden;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}